# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Static files (usually collected by Django's collectstatic command)
collectedstatic/

# Media files
media/

# Virtual environment
venv/
